<!-- Security Page-->
{% extends 'base.html' %} 
{% block content %}   
	<section class="section-fluid careers-production-bg ">
		<div class="video-production-overlay">
		 	<div class="container careers-prod-text-overlay" >
		 		<div class = "row"> 
				 		<div class="col-md-6 col-md-offset-6 col-sm-6 col-sm-offset-6 col-xs-12" >  
								<h1>Careers</h1> 
								<h2>Join Our Team</h2> 
						</div>
					</div>
			 	</div> 
			</div> 
	</section>  
	 <div class="container career-carousel-container-padding">
	 	<div class="row">
	 		<div class="col-md-12 text-center career-carousel-header">
			 	<h1>{{page_data.careers_carousel_header_txt1|safe}}</h1>
			 	<h2>{{page_data.careers_carousel_header_txt2|safe}}</h2>
			 	<h2>{{page_data.careers_carousel_header_txt3|safe}}</h2>
		 	</div>
	 	</div>
  		<div id="myCarousel" class="carousel slide text-center" data-ride="carousel">
   		 	<!-- Indicators -->
		    <ol class="carousel-indicators">
		      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
		      <li data-target="#myCarousel" data-slide-to="1"></li>
		      <li data-target="#myCarousel" data-slide-to="2"></li>
		      <li data-target="#myCarousel" data-slide-to="3"></li>
		      <li data-target="#myCarousel" data-slide-to="4"></li>
		    </ol>

		    <!-- Wrapper for slides -->
		    <div class="carousel-inner" role="listbox">
		      <div class="item active">
		        <h4>{{page_data.careers_carousel_slide_txt1|safe}}</h4>
		      </div>
		      <div class="item">
		        <h4>{{page_data.careers_carousel_slide_txt2|safe}}</h4>
		      </div>
		      <div class="item">
		        <h4>{{page_data.careers_carousel_slide_txt3|safe}}</h4>
		      </div>
		      <div class="item">
		        <h4>{{page_data.careers_carousel_slide_txt4|safe}}</h4>
		      </div>
		      <div class="item">
		        <h4>{{page_data.careers_carousel_slide_txt5|safe}}</h4>
		      </div>
		    </div>  
  		</div>
	</div>  
	<section class="career-work-centers-container">
		<div class="container">
			<div class="row career-work-center-row text-center">
				<div class="col-md-12"><h4>{{page_data.careers_work_centers_heading|safe}}</h4></div>
			</div>
			<div class="row career-work-center-address-row">
				<div class="col-md-4 col-sm-4 col-xs-12 text-center"><h1>{{page_data.careers_work_center_city_1|safe}}</h1><p>{{page_data.careers_work_center_state_country_1|safe}}</p></div>
				<div class="col-md-4 col-sm-4 col-xs-12 text-center border"><h1>{{page_data.careers_work_center_city_2|safe}}</h1><p>{{page_data.careers_work_center_state_country_2|safe}}</p></div>
				<div class="col-md-4 col-sm-4 col-xs-12 text-center"><h1>{{page_data.careers_work_center_city_3|safe}}</h1><p> {{page_data.careers_work_center_state_country_3|safe}}</p></div>
			</div>
		</div>
	</section>
	<section class="career-open-position-section">
		<div class="container">
			<div class="row"> 
				<div class="col-md-12 text-center">
					<h3 class="row-heading">{{page_data.careers_open_positions_headings|safe}}</h3>
				</div> 
			</div>
			<div class="row text-center open-position-row-1">
				<div class="col-md-4 col-sm-4 col-xs-12 center-col"><div class="center-top-header"><h4>{{page_data.careers_open_positions_1|safe}}</h4></div></div>
				<div class="col-md-4 col-sm-4 col-xs-12 center-col"><div class="center-top-header"><h4>{{page_data.careers_open_positions_2|safe}}</h4></div></div>
				<div class="col-md-4 col-sm-4 col-xs-12 center-col"><div class="center-top-header"><h4>{{page_data.careers_open_positions_3|safe}}</h4></div></div>
			</div>
			<div class="row text-center open-position-row-2">
				<div class="col-md-4 col-sm-4 col-xs-12 center-col"><div class="center-top-header"><h4>{{page_data.careers_open_positions_4|safe}}</h4></div></div>
				<div class="col-md-4 col-sm-4 col-xs-12 center-col"><div class="center-top-header"><h4>{{page_data.careers_open_positions_5|safe}}</h4></div></div>
				<div class="col-md-4 col-sm-4 col-xs-12 center-col"><div class="center-top-header"><h4>{{page_data.careers_open_positions_6|safe}}</h4></div></div>
			</div>
		</div>
	</section>
	<section class="section-fluid" id="contact-form">
			<div class="container ">
			<div class="row contactus"> 
				<div class="col-md-12 margin-bottom-10">
					<h3 class="row-heading">{{page_data.careers_apply_now_heading|safe}}</h3>
				</div>  
			</div>
				<div  id="formErrors"></div>
				<div class="row contactform"> 
						<form role="form" method="POST" id="applyform">
							{% csrf_token %}
							<div class="row">
				        		<div class="col-sm-6 form-group">
				        			<label for="name">Full Name*</label> 
				          			{{form.name}}
				          			<div id="nameError"></div>
				        		</div>
				        		<div class="col-sm-6 form-group">
				        			<label for="email">E-mail*</label> 
				          			{{form.email}}
				          			<div  id="emailError"></div>
				        		</div>
			        		</div>
			        		<div class="row">
				        		<div class="col-sm-6 form-group">
				        			<label for="name">Phone Number*</label> 
				          			{{form.phoneno}}
				          			<div  id="phoneError"></div>
				        		</div>
				        		<div class="col-sm-6 form-group">
				        			<label for="linkedinprofile">Linkedin Profile*</label> 
				          			{{form.linkedinprofile}}
				          			<div  id="linkedinError"></div>
				        		</div>
			        		</div>
			        		<label for="message">Message</label>
			        		{{form.message}}
			        		<div class="row">
			        			<div class="col-sm-12 form-group text-center">
			        				<button class="btn submit-button" type="submit" id="applyFormSubmit">Submit</button>
			        			</div>
			        		</div>
			        	</form> 
				</div>
			 </div>
		</section>
{% endblock %} 
{% block page_usable_javascript %}
 	<script>
    	var loader_gif_image = "{{ baseUrl }}seastar/images/ajax-loader.gif";
    	var ajax_apply_form_url  = "{{ AJAX_APPLY_FORM_URL }}";
    	var timeout = {{ AJAX_REQUEST_TIME_OUT }} ;
    </script> 
{% endblock page_usable_javascript %}   