<!-- Security Page--> 
{% extends 'base.html' %} 
{% block content %}  

	<section class="section-fluid cloudmate-bg ">
		<div class="gameview-production-overlay">
		 	<div class="container eye4k-img-text-overlay">
			 	<div class="row cloudmate-header-text" > 
			 		<div class="col-md-3 col-sm-3 col-lg-3"><h1>CloudMate</h1></div>
			 		<div class="col-md-9 col-sm-9 col-lg-9"><p>Comprehensive coverage with real-time wide area surveillance solution using high resolution 4K cameras</p></div>  
		 		</div>
			</div>
		</div>
	</section>
	 <section style="width:100%;">
	 	<div class="container center overview">
		 	<div class="row"> 
				<div class="col-md-12">
					<h3 class="row-heading">{{page_data.cloudmate_overview_section_title|safe}}</h3>
				</div>
			</div>
			<div class="row overview-section-text"> 
				<div class="col-sm-6 col-md-6 col-lg-6 col-xs-12 overview-text vcenter">
					<p>{{page_data.cloudmate_overview_section_para_1|safe}}</p>
					<p>{{page_data.cloudmate_overview_section_para_2|safe}}</p>
					<p>{{page_data.cloudmate_overview_section_para_3|safe}}</p> 
				</div><!--
				--><div class="col-sm-6 col-md-6 col-lg-6 col-xs-12 vcenter">
					<img src="{{ baseUrl }}seastar/images/cloudmate.png" class="img-thumbnail" width="400"/>
				</div>
				 
			</div>  
		</div>
	</section> 
	<div class="container-fluid">
		<div class="row cloudmate-works-row" id="cloudmate-works">  
			<div class="col-md-12">
				<h3 class="row-heading">{{page_data.cloudmate_how_it_works_title|safe}}</h3>
			</div> 
		</div>
	</div>
	<div class="container center" id="works-section"> 
		<div class="row cloudmate-works-img">
			<div class="col-md-12 col-sm-12 col-xs-12">
				 <img src="{{ baseUrl }}seastar/images/cloudmate_process.png" class="img-thumbnail" style="width:80%;"/>
			</div>	
		</div> 
	</div>
	<div class="contanier-fluid">
		<div class="row cloudmate-advantage-section center"> 
			<div class="col-md-12 col-sm-12 col-xs-12">
				 <h4>{{page_data.cloudmate_advantage_title|safe}}</h4>
				 <div class="cloudemate-advantage-extra-spacing">
					 <p>{{page_data.cloudmate_advantage_para_1|safe}}</p>
					 <p>{{page_data.cloudmate_advantage_para_2|safe}}</p>
					 <p>{{page_data.cloudmate_advantage_para_3|safe}}</p>
					 <p>{{page_data.cloudmate_advantage_para_4|safe}}</p>
					 <p>{{page_data.cloudmate_advantage_para_5|safe}}</p> 
				</div>
			</div> 
		</div> 
	</div>	
	<section id="exploreus">
		<div class="container">
			<div class="row"> 
				<div class="col-md-12">
					<h3 class="row-heading">{{page_data.cloudmate_advantage_tech_spec_title|safe}}</h3>
				</div>
			</div>
		 </div> 
		 <div class="container">
			<div class="row cloudmate-technical-specs col-eq"> 
				<div class="col-md-6 col-sm-6 col-xs-12" id="technical-specs-col1">
					<div class="techincal-specs-header"><h4>{{page_data.cloudmate_advantage_tech_spec_title1|safe}}</h4></div>
					<div class="techincal-specs-list">
						<ul>
							<li>{{page_data.cloudmate_advantage_tech_spec_title1_pt1|safe}}</li>
							<li>{{page_data.cloudmate_advantage_tech_spec_title1_pt2|safe}}</li>
							<li>{{page_data.cloudmate_advantage_tech_spec_title1_pt3|safe}}</li>
						</ul>
					</div>
				</div> 
				<div class="col-md-6 col-sm-6 col-xs-12">
					<div class="techincal-specs-header"><h4>{{page_data.cloudmate_advantage_tech_spec_title2|safe}}</h4></div>
					<div class="techincal-specs-list">
						<ul>
							<li>{{page_data.cloudmate_advantage_tech_spec_title2_pt1|safe}}</li>
							<li>{{page_data.cloudmate_advantage_tech_spec_title2_pt2|safe}}</li>
							<li>{{page_data.cloudmate_advantage_tech_spec_title2_pt3|safe}}</li>
							<li>{{page_data.cloudmate_advantage_tech_spec_title2_pt4|safe}}</li>
							<li>{{page_data.cloudmate_advantage_tech_spec_title2_pt5|safe}}</li>
							<li>{{page_data.cloudmate_advantage_tech_spec_title2_pt6|safe}}</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="row  cloudmate-technical-specs"> 
				<div class="col-md-6 col-sm-6 col-xs-12" id="technical-specs-col3">
					<div class="techincal-specs-header"><h4>{{page_data.cloudmate_advantage_tech_spec_title3|safe}}</h4></div>
					<div class="techincal-specs-list"> 
						<ul>
							<li>{{page_data.cloudmate_advantage_tech_spec_title3_pt1|safe}}</li>
							<li>{{page_data.cloudmate_advantage_tech_spec_title3_pt2|safe}}</li> 
						</ul>
					</div>
				</div> 
				<div class="col-md-6 col-sm-6 col-xs-12" id="technical-specs-col4">
					<div class="techincal-specs-header"><h4>{{page_data.cloudmate_advantage_tech_spec_title4|safe}}</h4></div>
					<div class="techincal-specs-list">
						<ul>
							<li>{{page_data.cloudmate_advantage_tech_spec_title4_pt1|safe}}</li>
							<li>{{page_data.cloudmate_advantage_tech_spec_title4_pt2|safe}}</li> 
						</ul>
					</div>
				</div>
			</div>
		 </div> 
	</section>  
{% endblock %} 

{% block page_usable_javascript %}
	
		<script>  
			$(document).ready(function() {
				 $(".target-active").find("[href='/security/']").parent().addClass("active");
				 
			}); 
		</script>
{% endblock page_usable_javascript %}   


 
