<!-- Security Page-->
{% extends 'base.html' %} 
{% block content %}  
	<section class="section-fluid eye4k-bg">
		<div class="gameview-production-overlay">
		 	<div class="container eye4k-img-text-overlay">
			 	<div class="row eye4k-header-text" > 
			 		<div class="col-md-3 col-sm-3"><h1>Eye 4K</h1></div>
			 		<div class="col-md-9 col-sm-9"><p>Ultra HD recording & visualization over Bandwidth constrained networks</p></div>  
		 		</div>
			</div>
		</div>
	</section>
	 <section style="width:100%;">
	 	<div class="container center overview">
		 	<div class="row"> 
				<div class="col-md-12">
					<h3 class="row-heading">{{page_data.eye4k_overview_section_title|safe}}</h3>
				</div>
			</div>
			<div class="row overview-section-text"> 
				<div class="col-sm-6 col-md-6 col-lg-6 col-xs-12 overview-text vtop">
					<p>{{page_data.eye4k_overview_section_para_1|safe}}</p>
					<p>{{page_data.eye4k_overview_section_para_2|safe}}</p>
					<p>{{page_data.eye4k_overview_section_para_3|safe}}</p> 
				</div><!--
				--><div class="col-sm-6 col-md-6 col-lg-6 col-xs-12 vtop overview-col-2-text">
					<img src="{{ baseUrl }}seastar/images/4k_zoom_image_2.png" class="img-thumbnail" style="width:100%;"/>
					<p>{{page_data.eye4k_overview_under_image_para|safe}}</p>
				</div>
				 
			</div>  
		</div>
	</section> 
	{% if INTERACTION_FLAG %}
		<div class="container-fluid">
			<div class="row cloudmate-works-row" id="cloudmate-works">  
				<div class="col-md-12">
					<h3 class="row-heading">{{page_data.eye4k_experience_section_title|safe}}</h3>
					<p class="eye-4k-sub-heading">{{page_data.eye4k_experience_section_subtitle|safe}}</p>
				</div> 
			</div>
		</div>
		<div class="container" id="eye-image-container">
	        <div class="eye4k-container">
	            <div class="main-image-placeholder">
	                <div class="main-image">
	                    <img src="{{ baseUrl }}seastar/images/placeholder-image.jpg" />
	                </div>
	                <div class="zoom-point zoom-point-yellow"></div>
	                <div class="zoom-point zoom-point-green"></div>
	                <div class="zoom-point zoom-point-red"></div>
	            </div>
	            <div class="thumbnails">
	                <div class="row">
	                    <div class="col-sm-4">
	                        <div class="thumb-wrapper thumb-yellow">
	                            <img id="yellow1x" src="{{ baseUrl }}seastar/images/yellow1x.png" class="active" />
	                            <img id="yellow2x" src="{{ baseUrl }}seastar/images/yellow2x.png"/>
	                            <img id="yellow3x" src="{{ baseUrl }}seastar/images/yellow3x.png"/>
	                        </div>
	                    </div>
	                    <div class="col-sm-4">
	                        <div class="thumb-wrapper thumb-green">
	                            <img id="green1x" src="{{ baseUrl }}seastar/images/green1x.png" class="active"/>
	                            <img id="green2x" src="{{ baseUrl }}seastar/images/green2x.png" />
	                            <img id="green3x" src="{{ baseUrl }}seastar/images/green3x.png" />
	                        </div>
	                    </div>
	                    <div class="col-sm-4">
	                        <div class="thumb-wrapper thumb-red">
	                            <img id="red1x" src="{{ baseUrl }}seastar/images/red1x.png" class="active"/>
	                            <img id="red2x" src="{{ baseUrl }}seastar/images/red2x.png"/>
	                            <img id="red3x" src="{{ baseUrl }}seastar/images/red3x.png"/>
	                        </div>
	                    </div>
	                </div>
	            </div>
	        </div>
	    </div>
    {% endif %}
	<div class="contanier-fluid">
		<div class="row cloudmate-advantage-section center" style="margin:0;"> 
			<div class="col-md-12 col-sm-12 col-xs-12">
				 <h4>{{page_data.eye4k_advantage_title|safe}}</h4>
				 <div class="cloudemate-advantage-extra-spacing">
					 <p>{{page_data.eye4k_advantage_para_1|safe}}</p>
					 <p>{{page_data.eye4k_advantage_para_2|safe}}</p>
					 <p>{{page_data.eye4k_advantage_para_3|safe}}</p>
					 <p>{{page_data.eye4k_advantage_para_4|safe}}</p>
					 <p>{{page_data.eye4k_advantage_para_5|safe}}</p> 
					 <p>{{page_data.eye4k_advantage_para_6|safe}}</p> 
				</div>
			</div> 
		</div> 
	</div>	
	<section id="exploreus">
		<div class="container">
			<div class="row"> 
				<div class="col-md-12">
					<h3 class="row-heading">TECHNICAL SPECS</h3>
				</div>
			</div>
		 </div> 
		<div class="container">
			<div class="row eye4k-technical-specs col-eq"> 
				<div class="col-md-4 col-sm-4 col-xs-12" id="eye-specs-col1">
					<div class="techincal-specs-header"><h4>{{page_data.eye4k_tech_specs_title1|safe}}</h4></div>
					<div class="techincal-specs-list">
						<ul>
							<li>{{page_data.eye4k_tech_specs_title1_pt1|safe}}</li>
							<li>{{page_data.eye4k_tech_specs_title1_pt2|safe}}</li>
							<li>{{page_data.eye4k_tech_specs_title1_pt3|safe}}</li>
							<li>{{page_data.eye4k_tech_specs_title1_pt4|safe}}</li>
							<li>{{page_data.eye4k_tech_specs_title1_pt5|safe}}</li>
							<li>{{page_data.eye4k_tech_specs_title1_pt6|safe}}</li>
						</ul>
					</div>
				</div> 
				<div class="col-md-4 col-sm-4 col-xs-12">
					<div class="techincal-specs-header"><h4>{{page_data.eye4k_tech_specs_title2|safe}}</h4></div>
					<div class="techincal-specs-list">
						<ul>
							<li>{{page_data.eye4k_tech_specs_title2_pt1|safe}}</li>
							<li>{{page_data.eye4k_tech_specs_title2_pt2|safe}}</li>
							<li>{{page_data.eye4k_tech_specs_title2_pt3|safe}}</li>
							<li>{{page_data.eye4k_tech_specs_title2_pt4|safe}}</li> 
						</ul>
					</div>
				</div>
				<div class="col-md-4 col-sm-4 col-xs-12">
					<div class="techincal-specs-header"><h4>{{page_data.eye4k_tech_specs_title3|safe}}</h4></div>
					<div class="techincal-specs-list">
						<ul>
							<li>{{page_data.eye4k_tech_specs_title3_pt1|safe}}</li>
							<li>{{page_data.eye4k_tech_specs_title3_pt2|safe}}</li>
							<li>{{page_data.eye4k_tech_specs_title3_pt3|safe}}</li>
							<li>{{page_data.eye4k_tech_specs_title3_pt4|safe}}</li> 
						</ul>
					</div>
				</div>
			</div>
			<div class="row  eye4k-technical-specs"> 
				<div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 hidden-xs">
					<div class="col-md-6 col-sm-6 col-xs-12" id="eye-specs-col4">
						<div class="techincal-specs-header"><h4>{{page_data.eye4k_tech_specs_title4|safe}}</h4></div>
						<div class="techincal-specs-list"> 
							<ul>
								<li>{{page_data.eye4k_tech_specs_title4_pt1|safe}}</li>
								<li>{{page_data.eye4k_tech_specs_title4_pt2|safe}}</li>
								<li>{{page_data.eye4k_tech_specs_title4_pt3|safe}}</li>
								<li>{{page_data.eye4k_tech_specs_title4_pt4|safe}}</li>
							</ul>
						</div>
					</div> 
					<div class="col-md-6 col-sm-6 col-xs-12" id="eye-specs-col5">
						<div class="techincal-specs-header"><h4>{{page_data.eye4k_tech_specs_title5|safe}}</h4></div>
						<div class="techincal-specs-list">
							<ul>
								<li>{{page_data.eye4k_tech_specs_title5_pt1|safe}}</li>
								<li>{{page_data.eye4k_tech_specs_title5_pt2|safe}}</li> 
								<li>{{page_data.eye4k_tech_specs_title5_pt3|safe}}</li> 
							</ul>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-sm-6 col-xs-12 hidden-lg hidden-md hidden-sm" id="eye-specs-col4">
						<div class="techincal-specs-header"><h4>{{page_data.eye4k_tech_specs_title4|safe}}</h4></div>
						<div class="techincal-specs-list"> 
							<ul>
								<li>{{page_data.eye4k_tech_specs_title4_pt1|safe}}</li>
								<li>{{page_data.eye4k_tech_specs_title4_pt2|safe}}</li>
								<li>{{page_data.eye4k_tech_specs_title4_pt3|safe}}</li>
								<li>{{page_data.eye4k_tech_specs_title4_pt4|safe}}</li>
							</ul>
						</div>
					</div> 
					<div class="col-md-6 col-sm-6 col-xs-12 hidden-lg hidden-md hidden-sm" id="eye-specs-col5">
						<div class="techincal-specs-header"><h4>{{page_data.eye4k_tech_specs_title5|safe}}</h4></div>
						<div class="techincal-specs-list">
							<ul>
								<li>{{page_data.eye4k_tech_specs_title5_pt1|safe}}</li>
								<li>{{page_data.eye4k_tech_specs_title5_pt2|safe}}</li> 
								<li>{{page_data.eye4k_tech_specs_title5_pt3|safe}}</li> 
							</ul>
						</div>
				</div>
			</div>
		 </div> 
	</section>  
{% endblock %}  
{% block page_usable_javascript %} 
		<script>  
			$(document).ready(function() {
				 $(".target-active").find("[href='/security/']").parent().addClass("active");
				 
			}); 
		</script>
{% endblock page_usable_javascript %}  