<!-- Security Page-->
{% extends 'base.html' %} 
{% block content %}   
	
	<section class="section-fluid gameview-production-bg ">
		<div class="gameview-production-overlay">
		 	<div class="container eye4k-img-text-overlay">
			 	<div class="row eye4k-header-text" > 
			 		<div class="col-md-3 col-sm-3 col-lg-3"><h1>Gameview</h1></div>
			 		<div class="col-md-9 col-sm-9 col-lg-9"><p>Make custom cuts and highlight clips on 4K footage using the power of the cloud</p></div>  
		 		</div>
			</div>
		</div>
	</section>
	
	 <section style="width:100%;">
	 	<div class="container center overview">
		 	<div class="row"> 
				<div class="col-md-12">
					<h3 class="row-heading">{{page_data.gameview_overview_title|safe}}</h3>
				</div>
			</div>
			<div class="row overview-section-text"> 
				<div class="col-sm-6 col-md-6 col-lg-6 col-xs-12 overview-text">
					<p>{{page_data.gameview_overview_para_1|safe}}</p>
					<p>{{page_data.gameview_overview_para_2|safe}}</p>
					<p>{{page_data.gameview_overview_para_3|safe}} </p> 
				</div><!--
				--><div class="col-sm-6 col-md-6 col-lg-6 col-xs-12 vcenter">
					<img src="{{ baseUrl }}seastar/images/gameview_thumbnail_new.jpeg" class="img-thumbnail" style="width:100%;height:400px;"/>
				</div>
				 
			</div>  
		</div>
	</section> 
	<div class="container-fluid">
		<div class="row cloudmate-works-row" id="cloudmate-works">  
			<div class="col-md-12">
				<h3 class="row-heading">{{page_data.gameview_how_it_works_title|safe}}</h3>
			</div> 
		</div>
	</div>
	<div class="container center" id="works-section"> 
		<div class="row cloudmate-works-img">
			<div class="col-md-12 col-sm-12 col-xs-12"> 
				 <img src="{{ baseUrl }}seastar/images/gameview_process_2.png" class="img-thumbnail" style="width:100%;"/>
			</div>	
		</div> 
		<div class="row col-eq gameview-feature-row"> 
				<div class="col-md-4 col-xs-12 gameview-works-feature">
					<div class="gameview-works-feature-title"><h4>{{page_data.gameview_works_title_1|safe}}</h4></div>
					<div class="gameview-works-feature-text">
						<p>{{page_data.gameview_works_title1_pt1|safe}}</p>
						<p>{{page_data.gameview_works_title1_pt2|safe}}</p>
						<p>{{page_data.gameview_works_title1_pt3|safe}}</p>
						<p>{{page_data.gameview_works_title1_pt4|safe}}</p>
					</div>
				</div>
				<div class="col-md-4 col-xs-12 gameview-works-feature">
					<div class="gameview-works-feature-title"><h4>{{page_data.gameview_works_title_2|safe}}</h4></div>
					<div class="gameview-works-feature-text">
						<p>{{page_data.gameview_works_title2_pt1|safe}}</p>
						<p>{{page_data.gameview_works_title2_pt2|safe}}</p>
						<p>{{page_data.gameview_works_title2_pt3|safe}}</p> 
					</div>
					
				</div>
				<div class="col-md-4 col-xs-12 gameview-works-feature">
					<div class="gameview-works-feature-title"><h4>{{page_data.gameview_works_title_3|safe}}</h4></div>
					<div class="gameview-works-feature-text">
						<p>{{page_data.gameview_works_title3_pt1|safe}}</p>
						<p>{{page_data.gameview_works_title3_pt2|safe}}</p>
						<p>{{page_data.gameview_works_title3_pt3|safe}}</p> 
					</div>
				</div> 
		</div>
	</div>
	<div class="contanier-fluid">
		<div class="row gameview-advantage-section center"> 
			<div class="col-md-6 col-md-offset-3  col-sm-8 col-sm-offset-2 col-xs-12">
				 <h4>{{page_data.gameview_advantage_section_title|safe}}</h4>
				 <div class="cloudemate-advantage-extra-spacing">
				 <h5>{{page_data.gameview_advantage_section_subtitle_1|safe}}</h5>
				 <p>{{page_data.gameview_advantage_section_para_1|safe}}</p>
				 <h5>{{page_data.gameview_advantage_section_subtitle_2|safe}}</h5>
				 <p>{{page_data.gameview_advantage_section_para_2|safe}}</p>
				 <h5>{{page_data.gameview_advantage_section_subtitle_3|safe}}</h5>
				 <p>{{page_data.gameview_advantage_section_para_3|safe}}</p>
				 <h5>{{page_data.gameview_advantage_section_subtitle_4|safe}}</h5>
				 <p>{{page_data.gameview_advantage_section_para_4|safe}}</p>
				 </div>
			</div> 
		</div> 
	</div>	
	<section class="gameview-explore-section">
		 <div class="container">
		 	<div class="row gameview-explore">
		 		<div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">
		 			<img src="{{ baseUrl }}seastar/images/strive_logo_2.png" width="200"/> 
		 			<h6>{{page_data.gameview_explore_work_section_title|safe}}</h6>
		 			<a href="https://www.strivenetwork.tv" target="_blank">{{page_data.gameview_explore_work_section_link_text|safe}}</a>
		 		</div>
		 	</div>
		 </div>
	</section>
	  
	  
	 
{% endblock %} 

{% block page_usable_javascript %}
	
		<script>  
			$(document).ready(function() {
				 $(".target-active").find("[href='/video-production/']").parent().addClass("active");
				 
			}); 
		</script>
{% endblock page_usable_javascript %}   
 
