<!-- Main Header Template, included in base template-->

{% load utils %} 
 
<div class="main-nav-bar">
	<nav class="navbar navbar-default navbar-fixed-top">
	  <div class="container-fluid">
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>                        
	      </button>
	      <a class="navbar-brand" href="/"><img src="{{ baseUrl }}seastar/images/seastar_logo_header.png" ></a>
	    </div>
	    <div class="collapse navbar-collapse" id="myNavbar">
	      <ul class="nav navbar-nav navbar-right target-active"> 
	        <li class="{% active 'security' %}"><a href="/security/" class="hidden-sm hidden-md">SECURITY & SURVEILLANCE</a><a href="/security/" class="hidden-xs hidden-lg">SECURITY & <br>SURVEILLANCE</a></li>
	        <li class="{% active 'video-production' %}"><a href="/video-production/" class="hidden-sm hidden-md">VIDEO PRODUCTION</a><a href="/video-production/" class="hidden-xs hidden-lg">VIDEO <br>PRODUCTION</a></li>
	        <!-- <li><a href="">CAREERS</a></li>-->
	        <li class="{% active 'index' %}"><a href="/index/#contact-form" id="nav-contact-us">CONTACT US</a></li> 
	      </ul> 
	    </div>
	  </div>
	</nav>
</div>


 
 

