<!-- Main Index Page of the Website -->
{% extends 'base.html' %} 
{% block content %}   
	 <div class="container-fluid contentContainer top-header" id="home">
	 	<div class="row" >
	 		<div class="col-md-12 center-col" id="topCol">
	 			<div class="center-top-header">  
			 		<h1>VIDEO HAS EVOLVED</h1>
			 		<p class="lead">We Develop Next Generation Technologies</p>
			 	</div>  
	 		</div>
	 	</div>
	</div>
	<section class="section-fluid">
		<div class="container about" id="security">
			<div class="row about-section-text"> 
				<div class="col-md-12">
					<h3 class="row-heading">WHO WE ARE</h3>
				</div>
				<div class="col-md-12">
					<p>Seastar has been developing video security and surveillance visualization solutions for years. Our core product help visualize your security environment from an intuitive dashboard. Our goal is to address the explosive growth in the smart and cost effective use of video.
					</p>
				</div> 
			</div>
		</div>
	</section>
	<div class="container-fluid" id="security">
		<div class="row"> 
			<div class="col-md-6 col-sm-6 col-xs-12 no-padding">
				<div class="about-section">
					<div class="about-image left-img-bg"></div> 
					<div class="left-about-overlay">
						<h4>CASE STUDY</h4>
						<br>
						<h2>Next Generation <br>Video Solutions</h2>
						<p>Security & Surveillance</p>
					</div>
				</div> 
			</div>
			<div class="col-md-6 col-sm-6 col-xs-12 no-padding">
				<div class="about-section">
					<div class="about-image right-img-bg"></div>
					<div class="right-about-overlay">
						<h4>WHITE PAPER</h4>
						<br>
						<h2>Future of 4k <br>Broadcasting</h2>
						<p>Video Production</p>
					</div> 
				</div> 
			 
			</div>
		</div>
	</div>	 
	<div class="container-fluid video-container" id="video" > 
		<div class="row"> 
			<div class="col-md-12">
				<h3 class="row-heading">Video Solutions</h3>
			</div>
			<div class="col-sm-10 col-sm-offset-1">
				<p class="video-sub-heading">All that We&rsquo;ve explored so far!</p>
			</div>
		</div>
	</div>
	<section class="section-fluid">
		<div class="container">
			<div class="row video-images-section">
				<div class="col-sm-4 col-md-4 video-images">
					<div class="thumbnail">
						<a href="/eye4k/"><img src="{{ baseUrl }}seastar/images/eye4k_logo_2.png"/></a>  
					</div>
					<a href="/eye4k/"><div class="video-image-title">4K Mobile Wide Area Surveillance</div></a>   
				</div>
				<div class="col-sm-4 col-md-4 video-images">
				<div class="thumbnail">
					<a href="/game-view/"><img src="{{ baseUrl }}seastar/images/strive_logo_2.png"/></a>  
				</div>
				<a href="/game-view/"><div class="video-image-title">The Future of Sports Broadcasting</div></a>    
				</div>
				<div class="col-sm-4 col-md-4 video-images">
					<div class="thumbnail">
						<a href="/game-view/"><img src="{{ baseUrl }}seastar/images/gameview_logo_2.png"/> </a> 
					</div> 
					<a href="/game-view/"><div class="video-image-title">Advanced Video Editing On The Cloud</div></a>  
				</div>
			</div> 
		</div>
	</section>	
	<section class="section-fluid video-section-quote">
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<blockquote>
		    			<p>&#8220;Seastar has been developing video security and surveillance visualization solutions 
		    			for years. Our core product help visualize your security environment from an intuitive dashboard. Our goal is to address the explosive growth in the smart and cost effective use of video&#8221;</p>
		    			<footer>Manoj Agrawal, CEO Seastar Labs.</footer>
		  			</blockquote>
				</div> 
			</div>
		</div> 
	</section>
	<section class="section-fluid">
		<div class="container services" id="services">
			<div class="row services-section-text"> 
				<div class="col-md-12">
					<h3 class="row-heading">Our Services</h3>
				</div>
				<div class="col-sm-12">
					<p class="video-sub-heading">Seastar's surveillance solutions are now deployed as standard equipment in next-generation ships for the US Navy. Seastar's first-generation Strive broadcast solutions have been deployed at numerous sports-events providing live streaming of produced video to viewers worldwide.</p>
				</div>
			</div>
			<div class="row">
			  <div class="col-sm-6 col-md-6 col-xs-12 services-images"> 
				    <div class="services-thumbnail">
				      <a href="/security/"><div class="services-image service1"></div></a>
				      <h3 class="service-title"><a href="/security/">Security & Surveillance</h3></a>
				      <div class="service-entry"> 
				        <a href="/security/"><p>Custom Surveillance Solution & Integration</p></a>
				      </div>
				    </div>
			    </a>
			  </div>
			  <div class="col-sm-6 col-md-6 col-xs-12 services-images">
			    <div class="services-thumbnail">
			    <a href="/video-production/"><div class="services-image service2"></div></a>
			      <h3 class="service-title"><a href="/video-production/">Video Production</a></h3> 
			      <div class="service-entry"> 
			        <a href="/video-production/"><p>Cutting-edge broadcasting & production solution</p></a> 
			      </div>
			    </div>
			  </div>
			</div>
		</div>
	</section>
	<section class="section-fluid" id="leadership">
	<div class="container leadership">
		<div class="row leadership-section-text"> 
			<div class="col-md-12">
				<h3 class="row-heading">Our Leadership</h3>
			</div> 
		</div>
		
		<div class="row our-leadership-row">
			<div class="col-md-4 col-sm-4 col-xs-12"> 
				<div class="post">
					<div class="post-image post1"></div>
					 <p class="post-title">Dr. Manoj Aggarwal <br/> Founder & CTO</p> 
					<div class="post-entry">
						<p>A renowned Ph.D in Electrical Engineering, Inventor and Entrepreneur. Previously a technical manager at SRI International and currently holds 20+ design & utility patents. Manoj has also led projects for various government and security agencies.</p>
					</div> 
				</div>
			</div>
			<div class="col-md-4 col-sm-4 col-xs-12"> 
				<div class="post" style="">
					<div class="post-image post2"></div>
					 <p class="post-title">Akhil Kumar <br/> VP of Engineering</p> 
					  
					<div class="post-entry">
						<p>A hands on architect, agile expert and IBM veteran with 20 years of experience in creating software products. Akhil specializes in extreme programming, application architecture, cloud computing and image processing.</p>
					</div> 
				</div>
			</div>
			<div class="col-md-4 col-sm-4 col-xs-12"> 
				<div class="post" style="">
					<div class="post-image  post3"></div>
					 <p class="post-title">Rajiv Sohal <br/>VP of Product</p> 
					<div class="post-entry">
						<p>Brings 20+ years of experience in managing and providing technical leadership to enterprise software development initiatives. Rajiv has helped design, build and deliver numerous successful products and services.</p>
					</div> 
				</div>
			</div>
		</div> 
		</div>
	</section>
		<section class="section-fluid" id="contact-form">
			<div class="container ">
			<div class="row contactus"> 
				<div class="col-md-12 margin-bottom-10">
					<h3 class="row-heading">Contact Us</h3>
				</div> 
				<div class="col-sm-10 col-sm-offset-1">
					<p class="contactform-sub-heading">Get in touch to learn about more our offerings.</p>
				</div> 
			</div>
				<div class="row contactform"> 
						<form role="form" action="/contact-response/" method="POST">
							{% csrf_token %}
							<div class="row">
				        		<div class="col-sm-6 form-group">
				        			<label for="name">Full Name</label>
				          			<!--  <input class="form-control" id="name" name="name" type="text" required>-->
				          			{{form.name}}
				        		</div>
				        		<div class="col-sm-6 form-group">
				        			<label for="email">E-mail</label>
				          			<!--  <input class="form-control" id="email" name="email" type="email" required>-->
				          			{{form.email}}
				        		</div>
			        		</div>
			        		<div class="row">
				        		<div class="col-sm-6 form-group">
				        			<label for="name">Phone Number</label>
				          			<!--  <input class="form-control" id="phoneno" name="phoneno" type="text">-->
				          			{{form.phoneno}}
				        		</div>
				        		<div class="col-sm-6 form-group">
				        			<label for="email">Company</label>
				          			<!--  <input class="form-control" id="company" name="company" type="text">-->
				          			{{form.company}}
				        		</div>
			        		</div>
			        		<label for="message">Message</label>
			        		<!-- <textarea class="form-control" id="message" name="message" rows="5"></textarea> -->
			        		{{form.message}}
			        		<div class="row">
			        			<div class="col-sm-12 form-group text-center">
			        				<button class="btn submit-button" type="submit">Submit</button>
			        			</div>
			        		</div>
			        	</form>
					 
				</div>
			 </div>
		</section>
	 
{% endblock %} 


 
