<!-- Main Index Page of the Website -->
{% extends 'base.html' %} 
{% block content %}   
	 <div class="container-fluid contentContainer top-header" id="home">
	 	<div class="row" >
	 		<div class="col-md-12 center-col" id="topCol">
	 			<div class="center-top-header">  
			 		<h1>VIDEO HAS EVOLVED</h1>
			 		<p class="lead">We Develop Next Generation Technologies</p>
			 	</div>  
	 		</div>
	 	</div>
	</div>
	<section class="section-fluid">
		<div class="container about" id="security">
			<div class="row about-section-text"> 
				<div class="col-md-12">
					<h3 class="row-heading">{{index_data.index_who_we_are_section_title|safe}}</h3>
				</div>
				<div class="col-md-12">
					<p>{{index_data.index_who_we_are_section_data|safe}}</p>
				</div> 
			</div>
		</div>
	</section>
	<div class="container-fluid" id="security">
		<div class="row"> 
			<div class="col-md-6 col-sm-6 col-xs-12 no-padding">
				<div class="about-section">
					<div class="about-image left-img-bg"></div> 
					<div class="left-about-overlay">
						<h4>CASE STUDY</h4> 
						<h2 class="hidden-xs hidden-sm">Next Generation Video <br>Solutions</h2>
						<h2 class="hidden-md hidden-lg">Next Generation Video Solutions</h2>
						<p>Security & Surveillance</p>
					</div>
				</div> 
			</div>
			<div class="col-md-6 col-sm-6 col-xs-12 no-padding">
				<div class="about-section">
					<div class="about-image right-img-bg"></div>
					<div class="right-about-overlay">
						<h4>WHITE PAPER</h4> 
						<h2>Future of 4k <br>Broadcasting</h2>
						<p>Video Production</p>
					</div> 
				</div> 
			 
			</div>
		</div>
	</div>	 
	<div class="container-fluid video-container" id="video" > 
		<div class="row"> 
			<div class="col-md-12">
				<h3 class="row-heading">{{index_data.index_our_video_solutions_section_title|safe}}</h3>
			</div>
			<div class="col-sm-10 col-sm-offset-1">
				<p class="video-sub-heading">{{index_data.index_our_video_solutions_section_sub_title|safe}}</p>
			</div>
		</div>
	</div>
	<section class="section-fluid">
		<div class="container">
			<div class="row video-images-section">
				<div class="col-sm-4 col-md-4 col-lg-4 video-images vcenter">
					<div class="thumbnail">
						<a href="/eye4k/"><img src="{{ baseUrl }}seastar/images/eye4k_logo_2.png"/></a>  
					</div>
					<a href="/eye4k/"><div class="video-image-title">{{index_data.index_our_video_solutions_data_para_1|safe}}</div></a>   
				</div><!--
				--><div class="col-sm-4 col-md-4 col-lg-4 video-images vcenter">
				<div class="thumbnail">
					<a href="/strive/"><img src="{{ baseUrl }}seastar/images/strive_logo_2.png"/></a>  
				</div>
				<a href="/strive/"><div class="video-image-title">{{index_data.index_our_video_solutions_data_para_2|safe}}</div></a>    
				</div><!--  
				--><div class="col-sm-4 col-md-4 col-lg-4 video-images vcenter">
					<div class="thumbnail">
						<a href="/game-view/"><img src="{{ baseUrl }}seastar/images/gameview_logo_2.png"/> </a> 
					</div> 
					<a href="/game-view/"><div class="video-image-title">{{index_data.index_our_video_solutions_data_para_3|safe}}</div></a>  
				</div>
			</div> 
		</div>
	</section>	
	<section class="section-fluid video-section-quote">
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<blockquote>
		    			<p>{{index_data.index_our_video_solutions_data_blockquote|safe}}</p>
		    			<footer>{{index_data.index_our_video_solutions_data_blockquote_footer|safe}}</footer>
		  			</blockquote>
				</div> 
			</div>
		</div> 
	</section>
	<section class="section-fluid">
		<div class="container services" id="services">
			<div class="row services-section-text"> 
				<div class="col-md-12">
					<h3 class="row-heading">{{index_data.index_our_services_section_title|safe}}</h3>
				</div>
				<div class="col-sm-12">
					<p class="video-sub-heading">{{index_data.index_our_services_section_data|safe}}</p>
				</div>
			</div>
			<div class="row">
			  <div class="col-sm-6 col-md-6 col-xs-12 services-images"> 
				    <div class="services-thumbnail">
				      <a href="/security/"><div class="services-image service1"></div></a>
				      <h3 class="service-title"><a href="/security/">{{index_data.index_our_services_section_image_title_1|safe}}</h3></a>
				      <div class="service-entry"> 
				        <a href="/security/"><p>{{index_data.index_our_services_section_image_entry_1|safe}}</p></a>
				      </div>
				    </div>
			    </a>
			  </div>
			  <div class="col-sm-6 col-md-6 col-xs-12 services-images">
			    <div class="services-thumbnail">
			    <a href="/video-production/"><div class="services-image service2"></div></a>
			      <h3 class="service-title"><a href="/video-production/">{{index_data.index_our_services_section_image_title_2|safe}}</a></h3> 
			      <div class="service-entry"> 
			        <a href="/video-production/"><p>{{index_data.index_our_services_section_image_entry_2|safe}}</p></a> 
			      </div>
			    </div>
			  </div>
			</div>
		</div>
	</section>
	<section class="section-fluid" id="leadership">
	<div class="container leadership">
		<div class="row leadership-section-text"> 
			<div class="col-md-12">
				<h3 class="row-heading">{{index_data.index_our_leadership_section_title|safe}}</h3>
			</div> 
		</div>
		
		<div class="row our-leadership-row col-eq">
			<div class="col-md-4 col-sm-4 col-xs-12 post-col"> 
				<div class="post">
					<div class="post-image post1"></div>
					 <p class="post-title">{{index_data.index_our_leadership_section_image_title_1|safe}} <br/> {{index_data.index_our_leadership_section_image_sub_title_1|safe}}</p> 
					<div class="post-entry">
						<p>{{index_data.index_our_leadership_section_image_entry_1|safe}}</p>
					</div> 
				</div>
			</div>
			<div class="col-md-4 col-sm-4 col-xs-12 post-col"> 
				<div class="post" style="">
					<div class="post-image post2"></div>
					 <p class="post-title">{{index_data.index_our_leadership_section_image_title_2|safe}}<br/> {{index_data.index_our_leadership_section_image_sub_title_2|safe}}</p> 
					  
					<div class="post-entry">
						<p>{{index_data.index_our_leadership_section_image_entry_2|safe}}</p>
					</div> 
				</div>
			</div>
			<div class="col-md-4 col-sm-4 col-xs-12 post-col"> 
				<div class="post" style="">
					<div class="post-image  post3"></div>
					 <p class="post-title">{{index_data.index_our_leadership_section_image_title_3|safe}} <br/>{{index_data.index_our_leadership_section_image_sub_title_3|safe}}</p> 
					<div class="post-entry">
						<p>{{index_data.index_our_leadership_section_image_entry_3|safe}}</p>
					</div> 
				</div>
			</div>
		</div> 
		</div>
	</section>
		<section class="section-fluid" id="contact-form">
			<div class="container ">
			<div class="row contactus"> 
				<div class="col-md-12 margin-bottom-10">
					<h3 class="row-heading">{{index_data.index_contact_us_section_title|safe}}</h3>
				</div> 
				<div class="col-sm-10 col-sm-offset-1">
					<p class="contactform-sub-heading">{{index_data.index_contact_us_section_sub_title|safe}}</p>
				</div> 
			</div>
				<div class="row contactform"> 
						<form role="form" action="/contact-response/" method="POST">
							{% csrf_token %}
							<div class="row">
				        		<div class="col-sm-6 form-group">
				        			<label for="name">Full Name</label>
				          			<!--  <input class="form-control" id="name" name="name" type="text" required>-->
				          			{{form.name}}
				        		</div>
				        		<div class="col-sm-6 form-group">
				        			<label for="email">E-mail</label>
				          			<!--  <input class="form-control" id="email" name="email" type="email" required>-->
				          			{{form.email}}
				        		</div>
			        		</div>
			        		<div class="row">
				        		<div class="col-sm-6 form-group">
				        			<label for="name">Phone Number</label>
				          			<!--  <input class="form-control" id="phoneno" name="phoneno" type="text">-->
				          			{{form.phoneno}}
				        		</div>
				        		<div class="col-sm-6 form-group">
				        			<label for="email">Company</label>
				          			<!--  <input class="form-control" id="company" name="company" type="text">-->
				          			{{form.company}}
				        		</div>
			        		</div>
			        		<label for="message">Message</label>
			        		<!-- <textarea class="form-control" id="message" name="message" rows="5"></textarea> -->
			        		{{form.message}}
			        		<div class="row">
			        			<div class="col-sm-12 form-group text-center">
			        				<button class="btn submit-button" type="submit">Submit</button>
			        			</div>
			        		</div>
			        	</form>
					 
				</div>
			 </div>
		</section>
	 
{% endblock %} 


 
