<!-- Security Page-->
{% extends 'base.html' %} 
{% block content %}  
	<div class="container-fluid"> 
	 	<div class="row" id="top-header-img-wrapper">
	 		<div class="col-md-6 col-md-offset-5 col-sm-8 col-sm-offset-5 col-xs-12 security-img-text-overlay" >  
					<h1 >Security, Surveillance <br> & Custom Video Processing</h1> 
			</div>
	 	</div> 
	 </div>  
	 <section style="width:100%;" class="security-section-extra-padding">
	 	<div class="container center">
		 	<div class="row"> 
				<div class="col-md-12">
					<h3 class="row-heading">How It Works</h3>
				</div>
			</div> 
			<div class="row center security-works-section">  
					<div class="col-sm-3 col-md-2 col-xs-12 vcenter">
						<img src="{{ baseUrl }}seastar/images/technology_camera_2.png" class="img-thumbnail" width="200"/>
					</div> 
					<div class="col-sm-2 col-md-2 col-xs-12 vcenter">
						<img src="{{ baseUrl }}seastar/images/right_arrow.png" class="img-thumbnail hidden-xs" /> 
						<img src="{{ baseUrl }}seastar/images/down_arrow.png" class="img-thumbnail hidden-sm hidden-md hidden-lg" /> 
					</div>
					<div class="col-sm-2 col-md-2 col-xs-12 vcenter" id="security-cloudmate-extra-padding">
						<img src="{{ baseUrl }}seastar/images/cloudmate_new.png" class="img-thumbnail" width="200"/> 
					</div>
					<div class="col-sm-2 col-md-2 col-xs-12 vcenter">
						<img src="{{ baseUrl }}seastar/images/right_arrow.png" class="img-thumbnail hidden-xs "/> 
						<img src="{{ baseUrl }}seastar/images/down_arrow.png" class="img-thumbnail  hidden-sm hidden-md hidden-lg" /> 
					</div>
					 
					<div class="col-sm-2 col-md-2 col-xs-12 vcenter">
						<h1>Eye4k <br>Software</h1>
					</div>
				</div> 
		</div>
	</section>
	 
	 
	 <div class="container-fluid">
		<div class="row technology-row" id="technology">  
			<div class="col-md-12">
				<h3 class="row-heading">The Technology</h3>
			</div>
			<div class="col-sm-10 col-sm-offset-1">
				<p class="technlogy-sub-heading">What we have created.</p>
			</div>
		</div>
	</div>
	<div class="container"> 
		<div class="row technology-images-row">
			<div class="col-md-12 col-sm-12">
				<div class="col-sm-6 col-md-6 col-xs-12 technology-images-col-1">
					<!-- <img src="{{ baseUrl }}seastar/images/cloudmate.png" class="img-thumbnail  hidden-sm hidden-md hidden-lg"/>--> 
					<img src="{{ baseUrl }}seastar/images/cloudmate_new.png" class="img-thumbnail" width="200"/>
					<div class="technology-images-text">
						<img src="{{ baseUrl }}seastar/images/cloudmate_text.png" class="img-thumbnail"> 
						<p>Exploit 4k UHD resolution video with existing, low-cost 720dp video infrastructure</p>
						<a href="/cloudmate/">Learn More</a>
					</div>
				</div>
				<div class="col-sm-6 col-md-6 col-xs-12 technology-images-border-right technology-images-col-2">
					<img src="{{ baseUrl }}seastar/images/technology_camera_2.png" class="img-thumbnail" width="200"/>
					<!-- <img src="{{ baseUrl }}seastar/images/technology_camera.png" class="img-thumbnail  hidden-sm hidden-md hidden-lg"/>-->
					<div class="technology-images-text">
						<img src="{{ baseUrl }}seastar/images/eye_4k.png" class="img-thumbnail"> 
						<p>Comprehensively assess physical security threats spread over wide area, with broad and hawk - eye visualization in Ultra High Defination</p>
						<a href="/eye4k/">Learn More</a>
					</div>
					
				</div>
			</div>	
		</div>
		</div>
	<div class="contanier-fluid">
		<div class="row technology-section-quote center">
			<div class="col-md-10 col-md-offset-1">
				 <h4>Custom Surveillance Solution &#38; Integrations</h4>
				 <p>We Build Custom Solutions For Your Buisness.&nbsp;Let Us Design To Meet Your Unique Needs.</p>
			</div> 
		</div>	
	</div>	
	<section id="exploreus">
		<div class="container">
			<div class="row"> 
				<div class="col-md-12">
					<h3 class="row-heading">Explore Our Solutions</h3>
				</div>
			</div>
		 </div> 
		<div class="container">
			<div class="row explore-row col-eq"> 
					<div class="col-md-4 col-sm-4 col-xs-12 explore-col">
						<div class="thumbnail">
							<img src="{{ baseUrl }}seastar/images/4k_image.png"/>
							<div class="caption">
							<div class="explore-title"><h3>WIDE AREA SURVEILLANCE</h3></div>
							<div class="explore-text">
								<p>Megapixel arrays create ultra high-resolution panaromic views for extreme wide area surviellance.</p>
							</div>
							</div> 
						</div> 
					</div>
					<div class="col-md-4 col-sm-4 col-xs-12 explore-col">
					<div class="thumbnail">
						<img src="{{ baseUrl }}seastar/images/4k_image_zoom.png"/>
						<div class="caption">
						<div class="explore-title"><h3>VIRTUAL PAN-TILT-ZOOM</h3></div> 
						<div class="explore-text">
							<p>Control your view with Digital PTZ controls. Wide and closeup views for detailed assesments of lieve and forensic content.</p>
						</div> 
						</div>
						</div> 
					</div> 
					<div class="col-md-4 col-sm-4 col-xs-12 explore-col">
					 	<div class="thumbnail">
					 		<img src="{{ baseUrl }}seastar/images/production.png"/>
						 	<div class="caption">
							 <div class="explore-title"><h3>REMOTE STORAGE &amp; VIDEO MANAGEMENT</h3></div> 
							<div class="explore-text">
								<p>Control your view with Digital PTZ controls. Wide and closeup views for detailed assesments of lieve and forensic content.</p>
							</div> 
							</div>
						</div>
					</div> 
				 
			</div> 
		</div> 
	</section>
	  
	  
	 
{% endblock %} 


 
