<!-- Security Page-->
{% extends 'base.html' %} 
{% block content %}  
	<div class="container-fluid"> 
		 	<div class="row" id="top-header-img-wrapper">
			 	<div class="gameview-production-overlay">
			 		<div class="col-md-6 col-md-offset-5 col-sm-8 col-sm-offset-5 col-xs-12 security-img-text-overlay" >  
							<h1 >Security, Surveillance <br> & Custom Video Processing</h1> 
					</div>
			 	</div> 
			</div>
	 </div>  
	 <section style="width:100%;" class="security-section-extra-padding">
	 	<div class="container center">
		 	<div class="row"> 
				<div class="col-md-12">
					<h3 class="row-heading">{{page_data.security_how_it_works_title|safe}}</h3>
				</div>
			</div> 
			<div class="row center security-works-section">  
					<div class="col-sm-3 col-md-2 col-xs-12 vcenter">
						<img src="{{ baseUrl }}seastar/images/technology_camera_2.png" class="img-thumbnail" width="200"/>
					</div> 
					<div class="col-sm-2 col-md-2 col-xs-12 vcenter">
						<img src="{{ baseUrl }}seastar/images/right_arrow.png" class="img-thumbnail hidden-xs" /> 
						<img src="{{ baseUrl }}seastar/images/down_arrow.png" class="img-thumbnail hidden-sm hidden-md hidden-lg" /> 
					</div>
					<div class="col-sm-2 col-md-2 col-xs-12 vcenter" id="security-cloudmate-extra-padding">
						<img src="{{ baseUrl }}seastar/images/cloudmate_new.png" class="img-thumbnail" width="200"/> 
					</div>
					<div class="col-sm-2 col-md-2 col-xs-12 vcenter">
						<img src="{{ baseUrl }}seastar/images/right_arrow.png" class="img-thumbnail hidden-xs "/> 
						<img src="{{ baseUrl }}seastar/images/down_arrow.png" class="img-thumbnail  hidden-sm hidden-md hidden-lg" /> 
					</div>
					 
					<div class="col-sm-2 col-md-2 col-xs-12 vcenter">
						<h1>{{page_data.security_how_it_works_image_data|safe}}</h1>
					</div>
				</div> 
		</div>
	</section>
	 
	 
	 <div class="container-fluid">
		<div class="row technology-row" id="technology">  
			<div class="col-md-12">
				<h3 class="row-heading">{{page_data.security_technology_title|safe}}</h3>
			</div>
			<div class="col-sm-10 col-sm-offset-1">
				<p class="technlogy-sub-heading">{{page_data.security_technology_sub_title|safe}}</p>
			</div>
		</div>
	</div>
	<div class="container"> 
		<div class="row technology-images-row">
			<div class="col-md-12 col-sm-12">
				<div class="col-sm-6 col-md-6 col-xs-12 technology-images-col-1">
					<!-- <img src="{{ baseUrl }}seastar/images/cloudmate.png" class="img-thumbnail  hidden-sm hidden-md hidden-lg"/>--> 
					<a href="/cloudmate/"><img src="{{ baseUrl }}seastar/images/cloudmate_new.png" class="img-thumbnail" width="200"/>
					<div class="technology-images-text-1">
						<img src="{{ baseUrl }}seastar/images/cloudmate_text.png" class="img-thumbnail"> 
						<p>{{page_data.security_technology_image_para_1|safe}}</p>
						 <div class="tech-img-link-1">{{page_data.security_technology_image_link_text_1|safe}}</div> 
					</div>
					</a>
				</div>
				<div class="col-sm-6 col-md-6 col-xs-12 technology-images-border-right technology-images-col-2">
					<a href="/eye4k/"><img src="{{ baseUrl }}seastar/images/technology_camera_2.png" class="img-thumbnail" width="165"/>
					<!-- <img src="{{ baseUrl }}seastar/images/technology_camera.png" class="img-thumbnail  hidden-sm hidden-md hidden-lg"/>-->
					
					<div class="technology-images-text-2">
						<img src="{{ baseUrl }}seastar/images/eye_4k.png" class="img-thumbnail"> 
						<p>{{page_data.security_technology_image_para_2|safe}}</p>
						<div class="tech-img-link-2">{{page_data.security_technology_image_link_text_2|safe}}</div>
					</div>
					</a>
				</div>
			</div>	
		</div>
		</div>
	<div class="contanier-fluid">
		<div class="row technology-section-quote center">
			<div class="col-md-10 col-md-offset-1">
				 <h4>{{page_data.security_technology_para_1|safe}}</h4>
				 <p>{{page_data.security_technology_para_2|safe}}</p>
			</div> 
		</div>	
	</div>	
	<section id="exploreus">
		<div class="container">
			<div class="row"> 
				<div class="col-md-12">
					<h3 class="row-heading">Explore Our Solutions</h3>
				</div>
			</div>
		 </div> 
		<div class="container">
			<div class="row explore-row col-eq"> 
					<div class="col-md-4 col-sm-4 col-xs-12 explore-col">
						<div class="thumbnail">
							<img src="{{ baseUrl }}seastar/images/4k_image.png"/>
							<div class="caption">
							<div class="explore-title"><h3>{{page_data.security_explore_image_title_1|safe}}</h3></div>
							<div class="explore-text explore-text-1">
								<p>{{page_data.security_explore_image_entry_1|safe}}</p>
							</div>
							</div> 
						</div> 
					</div>
					<div class="col-md-4 col-sm-4 col-xs-12 explore-col">
					<div class="thumbnail">
						<img src="{{ baseUrl }}seastar/images/4k_image_zoom.png"/>
						<div class="caption">
						<div class="explore-title"><h3>{{page_data.security_explore_image_title_2|safe}}</h3></div> 
						<div class="explore-text explore-text-2">
							<p>{{page_data.security_explore_image_entry_2|safe}}</p>
						</div> 
						</div>
						</div> 
					</div> 
					<div class="col-md-4 col-sm-4 col-xs-12 explore-col">
					 	<div class="thumbnail">
					 		<img src="{{ baseUrl }}seastar/images/production.png"/>
						 	<div class="caption">
							 <div class="explore-title"><h3>{{page_data.security_explore_image_title_3|safe}}</h3></div> 
							<div class="explore-text">
								<p>{{page_data.security_explore_image_entry_3|safe}}</p>
							</div> 
							</div>
						</div>
					</div> 
				 
			</div> 
		</div> 
	</section>
	  
	  
	 
{% endblock %} 


 
