<!-- Security Page-->
{% extends 'base.html' %} 
{% block content %}  
<section class="section-fluid gameview-production-bg ">
		<div class="gameview-production-overlay">
		 	<div class="container eye4k-img-text-overlay">
			 	<div class="row eye4k-header-text" > 
			 		<div class="col-md-5 col-sm-5 col-lg-5"><h1>Strive Network</h1></div>
			 		<div class="col-md-7 col-sm-7 col-lg-7"><p>Cover, produce, and stream your games from anywhere in the world</p></div>  
		 		</div>
			</div>
		</div>
	</section>
	 
	
	 <section style="width:100%;">
	 	<div class="container center overview">
		 	<div class="row"> 
				<div class="col-md-12">
					<h3 class="row-heading">{{page_data.strive_overview_title|safe}}</h3>
				</div>
			</div>
			<div class="row overview-section-text"> 
				<div class="col-sm-6 col-md-6 col-lg-6 col-xs-12 overview-text">
					<p>{{page_data.strive_overview_para_1|safe}}</p>
					<p>{{page_data.strive_overview_para_2|safe}}</p>
					<p>{{page_data.strive_overview_para_3|safe}}</p> 
				</div><!--
				--><div class="col-sm-6 col-md-6 col-lg-6 col-xs-12 vcenter"> 
					<img   
					 src="{{ baseUrl }}seastar/images/strive_promo_video.jpg" frameborder="0" allowfullscreen class="img-thumbnail" style="width:100%;height:400px;"/>
					<a class="various fancybox.iframe" href="https://www.youtube.com/embed/CZshmI4EPkc?autoplay=1"><div class="play-icon-overlay"></div></a>
				</div> 
			</div>  
		</div>
	</section> 
	<div class="container-fluid">
		<div class="row cloudmate-works-row" id="cloudmate-works">  
			<div class="col-md-12">
				<h3 class="row-heading">{{page_data.strive_how_it_works_title|safe}}</h3>
			</div> 
		</div>
	</div>
	<div class="container center" id="works-section"> 
		<div class="row cloudmate-works-img">
			<div class="col-md-12 col-sm-12 col-xs-12"> 
				 <img src="{{ baseUrl }}seastar/images/strive_process.png" class="img-thumbnail" style="width:100%;"/>
			</div>	
		</div>  
	</div>
	
	<section style="width:100%;" class="strive-advantage-section">
	 	<div class="container center">
		 	<div class="row"> 
				<div class="col-md-12">
					<h4>{{page_data.strive_advantage_section_title|safe}}</h4>
				</div>
			</div>
			<div class="row strive-advantage-row"> 
				<div class="col-sm-6 col-md-6 col-lg-6 col-xs-12  strive-advantage-text">
					<p>{{page_data.strive_advantage_section_para_1|safe}}</p>
					<p>{{page_data.strive_advantage_section_para_2|safe}}</p>
					<p>{{page_data.strive_advantage_section_para_3|safe}}</p> 
					<p>{{page_data.strive_advantage_section_para_4|safe}}</p> 
				</div><!--
				--><div class="col-sm-6 col-md-6 col-lg-6 col-xs-12 vcenter"> 
					<img   
					 src="{{ baseUrl }}seastar/images/strive_advantage_video.jpg" frameborder="0" allowfullscreen class="img-thumbnail" style="width:100%;height:400px;"/>
					<a class="various fancybox.iframe" href="https://www.youtube.com/embed/jG6B6A9-V7Q?autoplay=1"><div class="play-icon-overlay"></div></a>
				</div> 
			</div>  
		</div>
	</section> 
	 
	<section class="gameview-explore-section">
		 <div class="container">
		 	<div class="row gameview-explore">
		 		<div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">
		 			<img src="{{ baseUrl }}seastar/images/strive_logo_2.png" width="200"/> 
		 			<h6>{{page_data.strive_check_out_text|safe}}</h6>
		 			<a href="https://www.strivenetwork.tv" target="_blank">{{page_data.strive_check_out_link_text|safe}}</a>
		 		</div>
		 	</div>
		 </div>
	</section>
	  
	  
	 
{% endblock %} 

{% block page_usable_javascript %}
	
		<script>  
			$(document).ready(function() {
				 $(".target-active").find("[href='/video-production/']").parent().addClass("active");
				 
			}); 
		</script>
{% endblock page_usable_javascript %}   

 
